.add-rule-form {
  min-width: 700px;

  // 写成一行，vscode才能点击查看样式
  .request-url-tooltip-icon,
  .response-url-tooltip-icon {
    margin: 0 8px;
  }

  .redirect-type {
    padding: 0 12px;
    font-size: 18px;
    font-weight: bold;
  }

  .btn {
    margin-right: 8px;
  }
}
