.rule-list {
  border: 1px solid skyblue;

  .custom-theme-dark-rule-list-item,.custom-theme-default-rule-list-item {
    position: relative;

    @list-item-padding-top: 12px;
    @btn-height: 32px;
    @rule-list-item-min-height: @btn-height + 2 * @list-item-padding-top;

    min-height: @rule-list-item-min-height;
    font-weight: bold;

    .rule-item-container {
      cursor: pointer;
      display: flex;
      gap: 12px;
      // 父元素也要加 hidden 修复长url导致溢出的bug
      overflow: hidden;

      /* 这3条属性应该直接作用于text node的parent */
      .req {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .btns {
      position: absolute;

      /* right should be same with List.Item */
      @list-item-padding-right: 24px;

      right: @list-item-padding-right;
      display: none;
    }
  }

  .custom-theme-dark-rule-list-item:hover, .custom-theme-default-rule-list-item:hover {
    .btns {
      display: flex;
      gap: 16px;
    }
  }

  .custom-theme-dark-rule-list-item:hover {
    background-color: #161b22;
  }

  .custom-theme-default-rule-list-item:hover {
    background-color: #e5e5e5;
  }
}
