.rule-list {
  border: 1px solid skyblue;

  .rule-list-item {
    position: relative;

    /* 32px + 2 * 12px */
    min-height: 56px;
    font-weight: bold;

    .rule-item-container {
      cursor: pointer;
      display: flex;
      gap: 8px;

      /* 这3条属性应该直接作用于text node的parent */
      .req {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .btns {
      position: absolute;

      /* right should be same with List.Item */
      right: 24px;
      display: none;
    }
  }

  .rule-list-item:hover {
    background-color: #f5f5f5;

    .btns {
      display: flex;
      gap: 16px;
    }
  }
}
